wsdl/Air_RetrieveSeatMap_97_1_IA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/SMPREQ_97_1_IA" xmlns="http://xml.amadeus.com/SMPREQ_97_1_IA" elementFormDefault="qualified">
  <xs:element name="Air_RetrieveSeatMap">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="travelProductIdent" type="TravelProductInformation">
          <xs:annotation>
            <xs:documentation xml:lang="en">Travel product identification (flight for which the seat map is requested).</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="seatRequestParameters" minOccurs="0" type="SeatRequestParameters">
          <xs:annotation>
            <xs:documentation xml:lang="en">selection criteria for a seat map</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="seatsInformations" minOccurs="0" type="RelatedProductInformation">
          <xs:annotation>
            <xs:documentation xml:lang="en">specification of number of seat and its status code associated for a flight segment .</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="frequentTravelerSpecif" minOccurs="0" type="FrequentTravellerInformation">
          <xs:annotation>
            <xs:documentation xml:lang="en">Information about Frequent Travelers</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="reservationInfo" minOccurs="0" type="ReservationControlInformation_2692S">
          <xs:annotation>
            <xs:documentation xml:lang="en">Amadeus record locator when present (PNR retrieval).</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="travelers" minOccurs="0" maxOccurs="9">
          <xs:annotation>
            <xs:documentation xml:lang="en">Information related to the travelers</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="travelerInformation" type="TravellerInformation">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Passenger or group of  passenger name information.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="frequentTraveler" minOccurs="0" maxOccurs="9" type="FrequentTravellerInformation">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Information about frequent  traveler.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CompanyIdentification">
    <xs:sequence>
      <xs:element name="marketingAirlineCode" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Company identification</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="operatingAirlineCode" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Company identification</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FrequentTravellerIdentification">
    <xs:sequence>
      <xs:element name="frequentTravelerCompany" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Company identification</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="frequentTravelerIdentCode" type="AlphaNumericString_Length1To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">Frequent Traveller Reference Number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="frequentTravelerRefNumber" minOccurs="0" type="AlphaNumericString_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Traveller reference number (refers to 994 in TIF segment)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="membershipLevel" minOccurs="0" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Membership level</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FrequentTravellerInformation">
    <xs:sequence>
      <xs:element name="frequentTravelerInfo" minOccurs="0" maxOccurs="9" type="FrequentTravellerIdentification" />
      <xs:element name="Dummy.NET" minOccurs="0" maxOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericDetails">
    <xs:sequence>
      <xs:element name="cabinClassDesignator" minOccurs="0" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Allows seat assignment request and response by aircraft cabin.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="noSmokingIndicator" minOccurs="0" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Allows seat assignment request and response by smoking/non-smoking zone.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cabinClassOfService" minOccurs="0" type="NumericInteger_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Cabin Class of service, coded. Allows seat assignment request/response by cabin class.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="compartmentDesignator" minOccurs="0" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Allows seat assignment request and response by cabin compartment if there are separate cabins (front, rear cabin or upper deck)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="seatCharacteristic" minOccurs="0" maxOccurs="5" type="AlphaNumericString_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Allows seat assignment request/response to provide additional seat detail.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Location">
    <xs:sequence>
      <xs:element name="departureCityCode" type="AlphaString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">A 3 character IATA code to specify place of departure</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Location_4170C">
    <xs:sequence>
      <xs:element name="arrivalCityCode" type="AlphaString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">A 3 character  IATA code to specify place of arrival</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductDateOrTime">
    <xs:sequence>
      <xs:element name="departureDate" type="NumericInteger_Length6To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">First Date Departure Date (ddmmyy)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="departureTime" minOccurs="0" type="NumericInteger_Length4To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">First time</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="arrivalDate" minOccurs="0" type="NumericInteger_Length6To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Second date</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="arrivalTime" minOccurs="0" type="NumericInteger_Length4To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Second Time (hhmm)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dateVariation" minOccurs="0" type="NumericInteger_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Date variation</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductIdentificationDetails">
    <xs:sequence>
      <xs:element name="flightNumber" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Product identification</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="classOfService" minOccurs="0" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reservations booking designator</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="alphaSuffix" minOccurs="0" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">An operational suffix (A-E) related to flight number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="itemDescription" minOccurs="0" maxOccurs="3" type="AlphaNumericString_Length1To7">
        <xs:annotation>
          <xs:documentation xml:lang="en">Item description identification</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RangeOfRowsDetails">
    <xs:sequence>
      <xs:element name="seatRowNumber" minOccurs="0" type="NumericInteger_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Seat row number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="numberOfRows" minOccurs="0" type="NumericInteger_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of rows</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="seatColumn" minOccurs="0" maxOccurs="20" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">list of existing seat column  designators  for this particular row.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RelatedProductInformation">
    <xs:sequence>
      <xs:element name="numberOfSeats" minOccurs="0" type="NumericInteger_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of passengers associated with the preceding TVL segment</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="statusCodeRequested" minOccurs="0" maxOccurs="10" type="AlphaString_Length2To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">ATA/IATA action/advice/status code for this flight segment</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformation_2692S">
    <xs:sequence>
      <xs:element name="reservation" maxOccurs="9" type="ReservationControlInformation">
        <xs:annotation>
          <xs:documentation xml:lang="en">RESERVATION CONTROL INFORMATION</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformation">
    <xs:sequence>
      <xs:element name="resaCRScode" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Company identification</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="resaRecordLocator" type="AlphaNumericString_Length1To20">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reservation control number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="resaControlType" minOccurs="0" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reservation control type, coded</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="resaFirstDate" minOccurs="0" type="NumericInteger_Length6To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">First date (ddmmmyy)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="resaTime" minOccurs="0" type="NumericInteger_Length6To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Time</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SeatRequestParameters">
    <xs:sequence>
      <xs:element name="genericDetails" minOccurs="0" type="GenericDetails">
        <xs:annotation>
          <xs:documentation xml:lang="en">GENERIC DETAILS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rangeOfRowsDetails" minOccurs="0" type="RangeOfRowsDetails">
        <xs:annotation>
          <xs:documentation xml:lang="en">RANGE OF ROWS DETAILS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="actionRequired" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">The Processing Indicator (data element 7365) is used to indicate seat assignment association in the Advance Seat Assignment and Boarding Pass Request and the Wrap Up Request. The Processing Indicator is used to indicate boarding pass authority/restriction in the Advance Seat Assignment and Boarding Pass Response and the Wrap Up Response.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="freeSeatingReference" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reference number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="infoRelatedToCabinClass" minOccurs="0" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free text</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravelProductInformation">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify details related to a product.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="productDetails" minOccurs="0" type="ProductDateOrTime">
        <xs:annotation>
          <xs:documentation xml:lang="en">PRODUCT DATE OR TIME</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="boardpointDetail" minOccurs="0" type="Location">
        <xs:annotation>
          <xs:documentation xml:lang="en">Departure LOCATION</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="offPointDetail" minOccurs="0" type="Location_4170C">
        <xs:annotation>
          <xs:documentation xml:lang="en">Arrival location details</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="companyIdentification" minOccurs="0" type="CompanyIdentification" />
      <xs:element name="flightIdentification" type="ProductIdentificationDetails">
        <xs:annotation>
          <xs:documentation xml:lang="en">PRODUCT IDENTIFICATION DETAILS</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerDetails">
    <xs:sequence>
      <xs:element name="individualPaxGivenName" minOccurs="0" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Traveller given name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="individualPaxType" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of units qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="paxReferenceNumber" minOccurs="0" type="NumericInteger_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Traveller reference number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="paxInfantIndicator" minOccurs="0" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Traveler accompanied by infant</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="identificationCode" minOccurs="0" maxOccurs="2" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identification code, 2 cases: ID&lt;1 to 51 char free text) or CR&lt;1 to 40 char free text)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerInformation">
    <xs:sequence>
      <xs:element name="paxSurnameDetails" type="TravellerSurnameInformation">
        <xs:annotation>
          <xs:documentation xml:lang="en">TRAVELLER SURNAME INFORMATION</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="individualPaxDetails" minOccurs="0" maxOccurs="9" type="TravellerDetails">
        <xs:annotation>
          <xs:documentation xml:lang="en">TRAVELLER DETAILS</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerSurnameInformation">
    <xs:sequence>
      <xs:element name="paxSurname" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Traveller surname</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="paxType" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of units qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="paxNumber" minOccurs="0" type="NumericInteger_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Quantity</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="paxStatus" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Status, coded</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To70">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="70" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length2To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="2" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length6To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{6,6}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length4To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{4,4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,1}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length3To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To7">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="7" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To25">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..25</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="25" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To20">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..20</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,2}" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.1.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534D8FD33010BDFB57585C38A0A629AC84A8E443D8A60B12DD5DDA72AB54CDC6D3D6C2B183C7596D58ED7F679CA4B04848C0259A0F673EDE7B73555E97EB625B2EF637D7EA753EBB98CC6693D7B9DC9EDA401A3A99BF9BBFC9E7F91B79B5DABECAD9CA45B12A62D7202D8D4507352A0EECDF03996A9BC2D90369710784D79CA3062A54A7189BF974FA50DB0C6AD0D85256F97A2AEE5AA72D2E4C5053C2188D3BD2549B8A4475C2EAEB86BF35A8185A1495D7C84F4839EF9257D7E8D81B737503AE4BED946BADE540D305733C45F5A218DAC9DBE09B603042E824382D2FBD3B18CD350C58F9D11D7CA8211AEFE6B275D0C6930FE63B6AD912F6CFB5A1CA7A6A034A8AC154D17692FFB9339A6B649281CBE5449E9B51061925DF5AB94E73905CF3F4E11E75F642683C406BE35568125C5A1DC0120AEDDB3B8B1BFCD6A2ABF01662751A33E8DEFF1398E87EBD794C043DED1FEF31106FC556408B5C862D387287EE491C98BE756B19339F98ECFD9ECEFEE764FDA580F515D81172EB8F9A695CCC771FCA62B12BB5394015B7DE5BDA95DBFDC25004172F9929E68F99DBAD207CC5C4F8F0867AAE69F7C91FB9963BF683187DE36C276A0C471CC1E8EDA541AB69E343FC091F2F4E3C574109D3DF630B66DDD85139EEBF206ABC71F11AE340472FB6E07D7C8650EF270167625821214AE992F2693E1B63B4F4A1B0866B8F8A4D5A3015D28295C4BD5994038A544388A9EE17672A13BB719118C091EDF5C9F828C69AA663E56DB19A3E6AB486D70016D053C65991C6D3CFCF87C57279BE99A126477AA8FA4B36AE120F64E34D1B9B362EBDD518540A083199AC06185F9234BFEE6432110348EA63219EF557C56DB12F4CD8CF7296740DC6A9CDEA56E043C36CED81F68BF24A2D8B4F9BF24C8F8480A02E2ECE7E7ABF2E3F8B86EFC1D089191E701FC85133B6EE4D628CCD1E18E83154A9E91AF938F19ECF08E20A1A71A6E98FC99178F5EEADF80100707F5F06050000
-->

