wsdl/Fare_PricePNRWithLowestFare_13_2_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TPLPRQ_13_2_1A" xmlns="http://xml.amadeus.com/TPLPRQ_13_2_1A" elementFormDefault="qualified">
  <xs:element name="Fare_PricePNRWithLowestFare">
    <xs:annotation>
      <xs:documentation xml:lang="en">To get a list of fares from Fare Quote server for the lowest possible  booking class (Avg size : 400 bytes, Max size : 2 Kb)</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="pricingOptionGroup" maxOccurs="999">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="pricingOptionKey" type="PricingOptionKeyType" />
              <xs:element name="optionDetail" minOccurs="0" type="AttributeType" />
              <xs:element name="carrierInformation" minOccurs="0" type="TransportIdentifierType" />
              <xs:element name="currency" minOccurs="0" type="CurrenciesType" />
              <xs:element name="penDisInformation" minOccurs="0" type="DiscountAndPenaltyInformationType" />
              <xs:element name="monetaryInformation" minOccurs="0" type="MonetaryInformationType" />
              <xs:element name="taxInformation" minOccurs="0" maxOccurs="99" type="DutyTaxFeeDetailsType" />
              <xs:element name="dateInformation" minOccurs="0" maxOccurs="2" type="StructuredDateTimeInformationType" />
              <xs:element name="frequentFlyerInformation" minOccurs="0" type="FrequentTravellerIdentificationCodeType" />
              <xs:element name="formOfPaymentInformation" minOccurs="0" type="FormOfPaymentType" />
              <xs:element name="locationInformation" minOccurs="0" type="PlaceLocationIdentificationType" />
              <xs:element name="paxSegTstReference" minOccurs="0" type="ReferenceInfoType" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AttributeInformationTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of attribute and the attribute</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeType" type="AlphaNumericString_Length1To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">Used for attribute value rather than attributeType</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="attributeDescription" minOccurs="0" type="AlphaNumericString_Length1To256" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttributeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to have tag value without code list for tag</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="criteriaDetails" maxOccurs="99" type="AttributeInformationTypeU">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details for the message criteria (name, value).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompanyIdentificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Code or name to identify a company and any associated companies.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="otherCompany" minOccurs="0" type="AlphaNumericString_Length1To35" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CurrenciesType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify currencies used in the transaction and relevant details for the rate of exchange.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="firstCurrencyDetails" minOccurs="0" type="CurrencyDetailsTypeU" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CurrencyDetailsTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">The usage to which a currency relates</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="currencyQualifier" type="AlphaNumericString_Length1To3" />
      <xs:element name="currencyIsoCode" minOccurs="0" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DiscountAndPenaltyInformationType">
    <xs:sequence>
      <xs:element name="discountPenaltyQualifier" minOccurs="0" type="AMA_EDICodesetType_Length1to3" />
      <xs:element name="discountPenaltyDetails" minOccurs="0" maxOccurs="9" type="DiscountPenaltyMonetaryInformationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DiscountPenaltyMonetaryInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the type of discount and penalty information, the monetary amount, and associated information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="function" minOccurs="0" type="AMA_EDICodesetType_Length1to3" />
      <xs:element name="amountType" minOccurs="0" type="AMA_EDICodesetType_Length1to3" />
      <xs:element name="amount" minOccurs="0" type="AlphaNumericString_Length1To18" />
      <xs:element name="rate" minOccurs="0" type="AlphaNumericString_Length1To35" />
      <xs:element name="currency" minOccurs="0" type="AMA_EDICodesetType_Length1to3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DutyTaxFeeAccountDetailType">
    <xs:sequence>
      <xs:element name="isoCountry" type="AlphaNumericString_Length1To6" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DutyTaxFeeDetailType">
    <xs:sequence>
      <xs:element name="taxRate" minOccurs="0" type="AlphaNumericString_Length1To17" />
      <xs:element name="taxValueQualifier" minOccurs="0" type="AlphaNumericString_Length1To1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DutyTaxFeeDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify relevant duty/tax/fee information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="taxQualifier" type="AlphaNumericString_Length1To3" />
      <xs:element name="taxType" minOccurs="0" type="DutyTaxFeeAccountDetailType" />
      <xs:element name="taxNature" minOccurs="0" type="AlphaNumericString_Length1To15" />
      <xs:element name="taxData" minOccurs="0" type="DutyTaxFeeDetailType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FormOfPaymentDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the form of payment type, amounts, approval codes, and other related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="AlphaNumericString_Length1To10" />
      <xs:element name="amount" minOccurs="0" type="NumericDecimal_Length1To18" />
      <xs:element name="creditCardNumber" minOccurs="0" type="AlphaNumericString_Length1To35" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FormOfPaymentType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey details describing the form of payment.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="formOfPayment" type="FormOfPaymentDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details on the form of payment</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherFormOfPayment" minOccurs="0" maxOccurs="2" type="FormOfPaymentDetailsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FrequentTravellerIdentificationCodeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify frequent traveler information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="frequentTravellerDetails" maxOccurs="99" type="FrequentTravellerIdentificationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Frequent Traveller Info</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FrequentTravellerIdentificationType">
    <xs:sequence>
      <xs:element name="carrier" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Carrier where the FQTV is registered.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="number" minOccurs="0" type="AlphaNumericString_Length1To28" />
      <xs:element name="tierLevel" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">To specify a Tier linked to the FQTV</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="priorityCode" minOccurs="0" type="AlphaNumericString_Length1To12">
        <xs:annotation>
          <xs:documentation xml:lang="en">For example : priority code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the type of monetary amount, the amount, and the currency code.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="typeQualifier" type="AlphaNumericString_Length1To3" />
      <xs:element name="amount" minOccurs="0" type="NumericDecimal_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Amount</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currency" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Currency</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="location" minOccurs="0" type="AlphaNumericString_Length1To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">location</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey monetary amounts, rates and percentages.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="monetaryDetails" type="MonetaryInformationDetailsType" />
      <xs:element name="otherMonetaryDetails" minOccurs="0" maxOccurs="19" type="MonetaryInformationDetailsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlaceLocationIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify a place or a location and/or related locations.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="locationType" type="AlphaNumericString_Length1To3" />
      <xs:element name="firstLocationDetails" minOccurs="0" type="RelatedLocationOneIdentificationType" />
      <xs:element name="secondLocationDetails" minOccurs="0" type="RelatedLocationTwoIdentificationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PricingOptionKeyType">
    <xs:sequence>
      <xs:element name="pricingOptionKey" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide specific Hotel reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="referenceDetails" minOccurs="0" maxOccurs="99" type="ReferencingDetailsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferencingDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To10" />
      <xs:element name="value" minOccurs="0" type="AlphaNumericString_Length1To60" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RelatedLocationOneIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification the first related location by code or name.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" minOccurs="0" type="AlphaNumericString_Length1To25" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RelatedLocationTwoIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification of second related location by code or name.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" minOccurs="0" type="AlphaNumericString_Length1To25" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is designed to convey date/time in a structured way.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="businessSemantic" type="AlphaNumericString_Length1To3" />
      <xs:element name="dateTime" minOccurs="0" type="StructuredDateTimeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Convey date and/or time.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Store date and time in a structured way</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="year" minOccurs="0" type="Year_YYYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">Year number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="month" minOccurs="0" type="Month_mM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Month number in the year ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="day" minOccurs="0" type="Day_nN">
        <xs:annotation>
          <xs:documentation xml:lang="en">Day number in the month ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportIdentifierType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the transport service(s) which is /are to be updated or cancelled</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="companyIdentification" minOccurs="0" type="CompanyIdentificationTypeI" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To15">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..15</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="15" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To25">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..25</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="25" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To256">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..256</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="256" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To18">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..18</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="18" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericDecimal_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To17">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..17</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="17" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To28">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..28</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="28" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To12">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..12</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="12" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To10">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericDecimal_Length1To18">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..18</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To60">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..60</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AMA_EDICodesetType_Length1to3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for codes in the AMADEUS code tables. Code Length is three alphanumeric characters.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Z]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Year_YYYY">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the year. Example: 2003</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Month_mM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the month. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0?[1-9]|1[0-2])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Day_nN">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the day in the  month. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0?[1-9]|[1-2][0-9]|3[0-1])" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095934D6FDB300C86EFFA15C22E3B0CB19D74C5B0003A784D520C6BD22CF5B0CB0043B59844982C79A2DCD52BFADF47D94ED75DF67131284A26A5E77D79B9DC2C7779B15C94D71B31CBA66793EC7C327BCB3F83B2804A763C7B337F7D3E3F9FF2CB75F12ACBE659C6F2751EBA0670A50D585983A044F94EA2AE8A984EEE51B15B89B0A13D6C6405E21842334FD3FBDA24B2960A5A4C2A57A7ECB6B5CAC0427B912284A0ED0153A52B64D511AAAF37F4ADA508BE055639057404857536AEEA1A2CADC6BDBA91B68BED846D8DA144D3797D3806F1221FDAF1AD778DD710A4EFB8B48A5F38BBD78A6A6869F87BBB77BE96413B3BE7AD956D383AAF7F80E22D427F5C69AC8CC3D603C7E075154CC7E99F5BADA846C2895CC627FCD40C1399605C1BC377F11EC877747B7F072A79C114EC656BC2A56F222E25F6D22030E5DA5B0337F0AD055BC15686EA38EE807DF74F30C1FE3AF310057A2C1FEEC023BD8A220F06A80C45F2401DBA47B627F976AD21662E2AD9AF7B39FB9F63F49702C655D28CC88D3BA828A387DA0548EBEF293D56EF65154A0577E972880BE70CA6CBA25C680CD2860B528EF42425D3B5F45F213A603883BDF6F8E5CA1DA8B63DF417D3EADA9A8ED5E00F30C2E9E39506A3F0C6F9F084934020DD33C7C8F8F7DC825CA0CDE824FB5FC81AA76DD84018E4E9CDE79D0BCF88F5EB68E8840D4F8884318E569666D331872BE773A3A9F6E8E0E80D5D012EC859D49B4C3A50C55AFA10EB7EB2BAD2A11B1F12BCB4687ABF121F41EC9F8015F93A7D5060343D4392A11E13DA65F17AEAF93891792E4E3334D4A44C8FAA9F6C6D2B768F265CB7A169C3CA19055EC4046393C97AC0F812B9FE353793091B208969CE9EF517F9362F57D243393D3B2393D7525B517C5832B86F48AF5262B9585E8A62F76979D287D3692966B3EC9410C5F66ABBFBC81A9A108D47D278203FC8236614DDE9A819853D1AD953147DDB2D4D2B6C37BBCF3A1CAFDC77C010D3EC24D81F0F8D5610D333F613B202E85F29050000
-->

